<!--
  Generated template for the QuotesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Quotes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let quote of quotes">  
    <ion-card-content>       
      <ion-card-title>#{{quote.id}}</ion-card-title>       
      <p *ngIf="quote.text.length > 0">{{quote.text}}</p>
      <h3 ion-text color="gray" text-right>- {{quote.person | uppercase}}</h3>
    </ion-card-content> 
 
    <ion-grid>     
      <ion-row no-padding>
          <ion-col text-right>         
            <button ion-button clear small color="primary" icon-start *ngIf="!checkFav(quote)" (click)="onFav(quote)">           
              Favorite
            </button>       
            <button ion-button clear small color="danger" icon-start *ngIf="checkFav(quote)" (click)="onUnfav(quote)">           
              Unfavorite
            </button>       
          </ion-col>    
        </ion-row>    
      </ion-grid> 
  </ion-card>
</ion-content>
